@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /**************** COLORS ****************/
    --background-color: rgb(30,37,60);
    --nav-color: rgb(107,96,238);
    --nav-color2:rgb(87, 77, 171);
    --nav-color-hover: rgb(102,92,220);
    --section-background-color: rgb(43,48,96);
    --section-background-color2:rgb(26, 29, 59);
    --box-color: rgb(64,72,137);
    --box-color2: rgb(50, 58, 118);
    --dark-orange: rgb(243, 61, 36);
    --dark-orange-hover: rgb(218, 38, 14);
    --dark-purple: rgb(46,48,99);
    --text-white: rgb(253,255,255);
    --dark-purple2: rgb(30,28,50);
    --navbar-background-color: #424245;
    /******* ----------------------- *******/
    --header-height: 5rem;
    --header-index: 100;
    --description-font-size: 1.32rem;
    --container-padding: 1.5rem;
    /**************** BOX SHADOW ****************/
    --box-shadow1: 2px 2px 4px -2px;
    --box-shadow-1: -2px -2px 4px -2px;
    --box-shadow1-hover: 3px 3px 8px -2px;
    --box-shadow-1-hover: -3px -3px 8px -2px;
    --box-shadow2: 4px 4px 15px -5px;
    --box-shadow-2: -4px -4px 15px -5px;
    --box-shadow3: 8px 8px 20px -5px;
    --box-shadow-3: -8px -8px 20px -5px;
    --box-shadow4: 12px 12px 30px -5px;
    --box-shadow-4: -12px -12px 30px -5px;
}
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-white);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
button,
input {
    border: none;
    outline: none;
}

/******************* GLOBAL VARIABLES *******************/

.container {
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
}
.section {
    padding-top: 8rem;
    padding-bottom: 3rem;
}
.display-initial {
    display: initial !important;
}
.display-none {
    display: none !important;
}
.grid {
    display: grid;
}
.btn {
    display: inline-block;
    padding: 1.55rem 0;
    background-color: var(--dark-orange);
    color: var(--text-white);
    font-size: 1.3rem;
    font-weight: 600;
    width: 13rem;
    transition: .2s;
    letter-spacing: 1px;
    box-shadow: 2px 2px 6px -2px var(--dark-orange-hover);
    text-align: center;
}
.btn:hover {
    background-color: var(--dark-orange-hover);
    box-shadow: 3px 3px 9px -2px var(--dark-orange-hover);
}
.description-medium {
    font-size: var(--description-font-size);
    line-height: 1.7;
}
.description-small {
    font-size: 1.05rem;
    line-height: 1.6;
}
.section__title-container {
    margin-bottom: 4rem;
}
.section__title {
    font-size: 2.1rem;
    text-align: center;
}

/************************* NAV *************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: var(--header-index);
    transition: .31s;
}
.header.scroll {
    background-color: var(--nav-color);
    height: var(--header-height);
    box-shadow: var(--box-shadow3) rgba(0,0,0,.1);
    opacity: 0.98;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}
.nav__toggle-bars {
    font-size: 2.7rem;
}
.nav__logo {
    font-size: 2.1rem;
    font-weight: 700;
}
.nav__logo:hover {
    color: #7fff7f;
}
.nav__logo,
.nav__toggle-bars {
    color: var(--text-white);
    cursor: pointer;
    transition: .27s;
}
.nav__menu {
    display: none;
    position: fixed;
    top: var(--header-height);
    right: var(--container-padding);
    transition: .3s;
    animation: navMenuBoxShadow .25s linear forwards;
    animation-delay: .3s;
    z-index: var(--header-index);
}
.nav__item {
    background-color: var(--nav-color);
    width: 65vw;
    text-align: center;
    box-shadow: inset 3px 3px 7px -3px rgba(0,0,0,.1);
    padding-top: .8rem; 
    padding-bottom: .8rem; 
    opacity: 0;
    transition: .3s;
    animation: navMenuAnimation .15s linear forwards;
    transform-origin: top right;
}
.nav__item:hover {
    background-color: var(--nav-color-hover);
    box-shadow: inset var(--box-shadow1-hover) rgba(0,0,0,.1);
}
.nav__link {
    display: block;
    color: var(--text-white);
    text-transform: capitalize;
    font-size: var(--description-font-size);
    font-weight: 500;
    height: 100%;  
    padding-top: 1.9rem; 
    padding-bottom: 1.9rem; 
    transition: .31s;
}
.nav__link:hover {
    color: #9FFF9F;
}
.nav__item:nth-of-type(2) {
    animation-delay: .1s;
}
.nav__item:nth-of-type(3) {
    animation-delay: .15s;
}
.nav__item:nth-of-type(4) {
    animation-delay: .2s;
}

/***************** NAVBAR MENU ANIMATION *****************/
 
@keyframes navMenuAnimation {
    0% {
        transform: rotateZ(-90deg) rotateX(90deg) scale(.1);
    }
    100% {
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
    }
}
@keyframes navMenuBoxShadow {
    100% {
        box-shadow: var(--box-shadow2) var(--nav-color2);
    }
}

/************************ HOME ************************/

.home {
    position: relative;
    height: 100vh;
}
.home__container {
    row-gap: 2rem;
    height: 100%;
    grid-template-rows: .6fr .4fr;
}
.home__content,
.home__img-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.home__content {
    text-align: center;
}
.home__heading {
    margin-bottom: 2rem;
}
.home__title {
    font-size: 2.99rem;
}
.home__description-container {
    margin-bottom: 1.5rem;
}
.home__description {
    font-size: var(--description-font-size);
    line-height: 1.7;
}
.home__btn {
    margin-right: auto;
    margin-left: auto;
}

/************** CATEGORIES **************/

.categories {
    background-color: var(--section-background-color);
    padding-bottom: 6rem;
}
.categories__container {
    row-gap: 4rem;
}
.categories__title {
    font-size: 2.6rem;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
}
.categories__btn {
    margin-top: 2rem;
    background: var(--text-white);
    color: var(--section-background-color);
    box-shadow : 2px 2px 6px -2px #999;
}
.categories__btn:hover {
    box-shadow: 3px 3px 8px -3px var(--dark-orange);
    color: var(--text-white);
    background-color: var(--dark-orange);
}
.categories__cards {
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.categories__card {
    background-color: var(--box-color);
    padding: 1.75rem 1.25rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 11px rgba(0,0,0,.1);
    transition: .2s;
}
.categories__icon-container {
    display: inline-block;
    padding: .9rem .5rem;
    border-radius: 1.2rem;
    margin-bottom: 2.25rem;
    transition: .2s;
}
.categories__icon-container i {
    font-size: 1.6rem;
}
.categories__card:nth-of-type(1) .categories__icon-container {
    background-color: var(--nav-color);
}
.categories__card:nth-of-type(2) .categories__icon-container {
    background-color: var(--dark-orange);
}
.categories__card:nth-of-type(3) .categories__icon-container {
    background-color: #1cb31c;
}
.categories__card:nth-of-type(4) .categories__icon-container {
    background-color: rgb(226, 203, 71);
}
.categories__card:nth-of-type(5) .categories__icon-container {
    background-color: rgb(73, 170, 218);
}
.categories__card:nth-of-type(6) .categories__icon-container {
    background-color: rgb(202, 58, 202);
}
.categories__card-title {
    margin-bottom: 1.2rem;
}
.categories__card-description {
    line-height: 1.7;
}
.categories__card:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 20px -3px rgba(0,0,0,.5);
}
.categories__card:hover .categories__icon-container {
    transform: rotate(360deg);
}

/***************** POPULAR COURSES *****************/

.pop__courses {
    text-align: center;
}
.pop__courses-container {
    row-gap: 2.5rem;
}
.pop__courses-card {
    background-color: var(--section-background-color);
    box-shadow: 4px 4px 15px -3px var(--section-background-color2),
               -4px -4px 15px -3px var(--section-background-color2);
    transform: scale(.99);
    transition: .2s;
}
.pop__courses-card:hover,
.pop__courses-card:focus {
    transform: scale(1);
    box-shadow: 4px 4px 30px -3px rgba(20,20,50,1),
               -4px -4px 30px -3px rgba(20,20,50,1);
}
.pop__courses-card-data {
    padding: 2rem;
}
.pop__courses-card-title {
    font-size: 1.35rem;
    line-height: 1.4;
    margin-bottom: 1.65rem;
}
.pop__courses-card-btn {
    margin-top: 1.25rem;
    padding: 1.3rem 0;
    width: 11.5rem;
    font-size: 1.2rem;
}

/************* ACCORDION *************/

.accordion__container {
    row-gap: 1.3rem;
}
.accordion__content {
    background-color: var(--nav-color);
    overflow: hidden;
}
.accordion__input {
    display: none;
}
.accordion__label {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    cursor: pointer;
    column-gap: 2rem;
    transition: .2s;
}
.accordion__label:hover {
    background-color: rgb(75, 66, 174);
}
.accordion__label::after {
    content: "+";
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.accordion__question {
    font-size: 1.27rem;
    line-height: 1.5;
}
.accordion__answer {
    padding: 0 2rem 0rem 2rem;
    line-height: 1.5;
    max-height: 0;
    transition: all .2s ease;
    box-shadow: inset 1px 1px 6px -1px rgba(0,0,0,.2),
                inset -2px -2px 6px -1px rgba(0,0,0,.2);
}
.accordion__input:checked + .accordion__label {
    background-color: rgb(75, 66, 174);
}
.accordion__input:checked ~ .accordion__answer {
    padding: 2rem;
    padding-top: 1.7rem;
    max-height: 100vh;
}

/******************** TESTIMONIALS ********************/
.testimonials.section {
    padding-bottom: 8rem;
}
.testimonials .section__title-container {
    margin-bottom: 5rem;
}
.testimonials__img {
    display: block;
    width: 80px;
    border-radius: 50%;
    border: 10px solid var(--section-background-color);
    outline: 2px solid var(--nav-color);
    margin: 1rem auto 0 auto;
}
.testimonial__information {
    text-align: center;
    margin-top: 2rem;
}
.testimonial__giver-name {
    margin-bottom: .5rem;
}
.testimonial__giver-status {
    font-size: 1.08rem;
}
.testimonial__text {
    position: relative;
    padding: 2rem 1.8rem;
    background-color: var(--nav-color);
    margin-top: 2.5rem;
    box-shadow: 2px 2px 25px -2px var(--dark-purple),
                -2px -2px 25px -2px var(--dark-purple);
    transform: scale(.9);
}
.testimonial__text .description-small {
    font-size: 1.3rem;
    line-height: 1.5;
}
.testimonial__text::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 26px;
    height:26px;
    background: linear-gradient(
        135deg,
        transparent,
        var(--nav-color),
        var(--nav-color),
        var(--nav-color)
    );
    top: -13px;
    left: calc(50% - 13px);
    transform: rotate(45deg);
    z-index: -1;
}
.testimonials .swiper-wrapper {
    margin-bottom: 5rem;
}
.testimonials__container .swiper-pagination {
    bottom: 1rem;
}
.testimonials__container .swiper-pagination-bullet {
    background: #fff;
    opacity: .8;
    width: 6px;
    height: 6px;
}
.testimonials__container .swiper-pagination-bullet-active {
    background: rgb(129, 118, 255);
}

/* FOOTER */

.footer {
    background-color: var(--section-background-color);
    padding-bottom: 0;
}
.footer__container {
    row-gap: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}
.footer__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.footer__logo {
    font-weight: 800;
}
.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer__item {
    font-size: 1.18rem;
    color: var(--text-white);
}
.footer__socials {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}
.footer__socials-icon {
    font-size: 2rem;
    color: var(--text-white);
}
.footer__copyright-container {
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid rgb(69, 58, 125);
}