.particle {
    position: absolute;
    border-radius: 50%;
}
@keyframes particle-animation-1 {
    100% {
        transform: translate3d(75vw, 85vh, 19px);
   }
}
.particle:nth-child(1) {
    animation: particle-animation-1 45s infinite;
    opacity: 0.87;
    height: 5px;
    width: 5px;
    animation-delay: -0.2s;
    transform: translate3d(24vw, 4vh, 48px);
    background: #26d929;
}
@keyframes particle-animation-2 {
    100% {
        transform: translate3d(29vw, 19vh, 96px);
   }
}
.particle:nth-child(2) {
    animation: particle-animation-2 45s infinite;
    opacity: 0.39;
    height: 6px;
    width: 6px;
    animation-delay: -0.4s;
    transform: translate3d(26vw, 25vh, 58px);
    background: #50d926;
}
@keyframes particle-animation-3 {
    100% {
        transform: translate3d(74vw, 10vh, 17px);
   }
}
.particle:nth-child(3) {
    animation: particle-animation-3 45s infinite;
    opacity: 0.09;
    height: 7px;
    width: 7px;
    animation-delay: -0.6s;
    transform: translate3d(5vw, 56vh, 64px);
    background: #26d99d;
}
@keyframes particle-animation-4 {
    100% {
        transform: translate3d(24vw, 19vh, 54px);
   }
}
.particle:nth-child(4) {
    animation: particle-animation-4 45s infinite;
    opacity: 0.01;
    height: 6px;
    width: 6px;
    animation-delay: -0.8s;
    transform: translate3d(51vw, 61vh, 25px);
    background: #3226d9;
}
@keyframes particle-animation-5 {
    100% {
        transform: translate3d(76vw, 63vh, 48px);
   }
}
.particle:nth-child(5) {
    animation: particle-animation-5 45s infinite;
    opacity: 0.96;
    height: 7px;
    width: 7px;
    animation-delay: -1s;
    transform: translate3d(85vw, 87vh, 48px);
    background: #6526d9;
}
@keyframes particle-animation-6 {
    100% {
        transform: translate3d(86vw, 82vh, 91px);
   }
}
.particle:nth-child(6) {
    animation: particle-animation-6 45s infinite;
    opacity: 0.1;
    height: 6px;
    width: 6px;
    animation-delay: -1.2s;
    transform: translate3d(32vw, 83vh, 14px);
    background: #c1d926;
}
@keyframes particle-animation-7 {
    100% {
        transform: translate3d(60vw, 57vh, 57px);
   }
}
.particle:nth-child(7) {
    animation: particle-animation-7 45s infinite;
    opacity: 0.01;
    height: 8px;
    width: 8px;
    animation-delay: -1.4s;
    transform: translate3d(70vw, 73vh, 33px);
    background: #26d97a;
}
@keyframes particle-animation-8 {
    100% {
        transform: translate3d(42vw, 6vh, 44px);
   }
}
.particle:nth-child(8) {
    animation: particle-animation-8 45s infinite;
    opacity: 0.12;
    height: 6px;
    width: 6px;
    animation-delay: -1.6s;
    transform: translate3d(22vw, 7vh, 89px);
    background: #d9b226;
}
@keyframes particle-animation-9 {
    100% {
        transform: translate3d(78vw, 45vh, 2px);
   }
}
.particle:nth-child(9) {
    animation: particle-animation-9 45s infinite;
    opacity: 0.32;
    height: 6px;
    width: 6px;
    animation-delay: -1.8s;
    transform: translate3d(2vw, 9vh, 88px);
    background: gold;
}
@keyframes particle-animation-10 {
    100% {
        transform: translate3d(82vw, 17vh, 77px);
   }
}
.particle:nth-child(10) {
    animation: particle-animation-10 45s infinite;
    opacity: 0.59;
    height: 8px;
    width: 8px;
    animation-delay: -2s;
    transform: translate3d(82vw, 84vh, 36px);
    background: #d926ac;
}
@keyframes particle-animation-11 {
    100% {
        transform: translate3d(77vw, 51vh, 98px);
   }
}
.particle:nth-child(11) {
    animation: particle-animation-11 45s infinite;
    opacity: 0.12;
    height: 6px;
    width: 6px;
    animation-delay: -2.2s;
    transform: translate3d(37vw, 29vh, 29px);
    background: gold;
}
@keyframes particle-animation-12 {
    100% {
        transform: translate3d(14vw, 19vh, 87px);
   }
}
.particle:nth-child(12) {
    animation: particle-animation-12 45s infinite;
    opacity: 0.03;
    height: 10px;
    width: 10px;
    animation-delay: -2.4s;
    transform: translate3d(65vw, 83vh, 5px);
    background: #26d0d9;
}
@keyframes particle-animation-13 {
    100% {
        transform: translate3d(59vw, 15vh, 87px);
   }
}
.particle:nth-child(13) {
    animation: particle-animation-13 45s infinite;
    opacity: 0.18;
    height: 6px;
    width: 6px;
    animation-delay: -2.6s;
    transform: translate3d(45vw, 6vh, 40px);
    background: #d926d3;
}
@keyframes particle-animation-14 {
    100% {
        transform: translate3d(41vw, 1vh, 55px);
   }
}
.particle:nth-child(14) {
    animation: particle-animation-14 45s infinite;
    opacity: 0.14;
    height: 6px;
    width: 6px;
    animation-delay: -2.8s;
    transform: translate3d(24vw, 48vh, 66px);
    background: #26d932;
}
@keyframes particle-animation-15 {
    100% {
        transform: translate3d(71vw, 28vh, 80px);
   }
}
.particle:nth-child(15) {
    animation: particle-animation-15 45s infinite;
    opacity: 0.35;
    height: 6px;
    width: 6px;
    animation-delay: -3s;
    transform: translate3d(14vw, 76vh, 69px);
    background: gold;
}
@keyframes particle-animation-16 {
    100% {
        transform: translate3d(18vw, 29vh, 70px);
   }
}
.particle:nth-child(16) {
    animation: particle-animation-16 45s infinite;
    opacity: 0.2;
    height: 7px;
    width: 7px;
    animation-delay: -3.2s;
    transform: translate3d(69vw, 59vh, 29px);
    background: #65d926;
}
@keyframes particle-animation-17 {
    100% {
        transform: translate3d(10vw, 47vh, 24px);
   }
}
.particle:nth-child(17) {
    animation: particle-animation-17 45s infinite;
    opacity: 0.54;
    height: 6px;
    width: 6px;
    animation-delay: -3.4s;
    transform: translate3d(57vw, 18vh, 45px);
    background: gold;
}
@keyframes particle-animation-18 {
    100% {
        transform: translate3d(16vw, 12vh, 1px);
   }
}
.particle:nth-child(18) {
    animation: particle-animation-18 45s infinite;
    opacity: 0.15;
    height: 8px;
    width: 8px;
    animation-delay: -3.6s;
    transform: translate3d(46vw, 54vh, 57px);
    background: gold;
}
@keyframes particle-animation-19 {
    100% {
        transform: translate3d(28vw, 67vh, 12px);
   }
}
.particle:nth-child(19) {
    animation: particle-animation-19 45s infinite;
    opacity: 0.65;
    height: 6px;
    width: 6px;
    animation-delay: -3.8s;
    transform: translate3d(6vw, 64vh, 86px);
    background: #26d93e;
}
@keyframes particle-animation-20 {
    100% {
        transform: translate3d(71vw, 70vh, 24px);
   }
}
.particle:nth-child(20) {
    animation: particle-animation-20 45s infinite;
    opacity: 0.14;
    height: 8px;
    width: 8px;
    animation-delay: -4s;
    transform: translate3d(76vw, 68vh, 82px);
    background: #d92650;
}
@keyframes particle-animation-21 {
    100% {
        transform: translate3d(15vw, 25vh, 26px);
   }
}
.particle:nth-child(21) {
    animation: particle-animation-21 45s infinite;
    opacity: 0.77;
    height: 7px;
    width: 7px;
    animation-delay: -4.2s;
    transform: translate3d(2vw, 78vh, 51px);
    background: #d9266e;
}
@keyframes particle-animation-22 {
    100% {
        transform: translate3d(41vw, 37vh, 29px);
   }
}
.particle:nth-child(22) {
    animation: particle-animation-22 45s infinite;
    opacity: 0.83;
    height: 6px;
    width: 6px;
    animation-delay: -4.4s;
    transform: translate3d(22vw, 44vh, 10px);
    background: #26d9af;
}
@keyframes particle-animation-23 {
    100% {
        transform: translate3d(17vw, 23vh, 20px);
   }
}
.particle:nth-child(23) {
    animation: particle-animation-23 50s infinite;
    opacity: 0.32;
    height: 8px;
    width: 8px;
    animation-delay: -4.6s;
    transform: translate3d(13vw, 51vh, 16px);
    background: #b826d9;
}
@keyframes particle-animation-24 {
    100% {
        transform: translate3d(49vw, 53vh, 60px);
   }
}
.particle:nth-child(24) {
    animation: particle-animation-24 50s infinite;
    opacity: 0.91;
    height: 8px;
    width: 8px;
    animation-delay: -4.8s;
    transform: translate3d(10vw, 16vh, 17px);
    background: #26cad9;
}
@keyframes particle-animation-25 {
    100% {
        transform: translate3d(35vw, 22vh, 53px);
   }
}
.particle:nth-child(25) {
    animation: particle-animation-25 50s infinite;
    opacity: 0.67;
    height: 8px;
    width: 8px;
    animation-delay: -5s;
    transform: translate3d(13vw, 84vh, 10px);
    background: gold;
}
@keyframes particle-animation-26 {
    100% {
        transform: translate3d(58vw, 15vh, 30px);
   }
}
.particle:nth-child(26) {
    animation: particle-animation-26 50s infinite;
    opacity: 0.98;
    height: 8px;
    width: 8px;
    animation-delay: -5.2s;
    transform: translate3d(36vw, 86vh, 96px);
    background: #26d9ac;
}
@keyframes particle-animation-27 {
    100% {
        transform: translate3d(19vw, 5vh, 14px);
   }
}
.particle:nth-child(27) {
    animation: particle-animation-27 50s infinite;
    opacity: 0.58;
    height: 8px;
    width: 8px;
    animation-delay: -5.4s;
    transform: translate3d(68vw, 54vh, 51px);
    background: #d92659;
}
@keyframes particle-animation-28 {
    100% {
        transform: translate3d(24vw, 29vh, 78px);
   }
}
.particle:nth-child(28) {
    animation: particle-animation-28 50s infinite;
    opacity: 0.66;
    height: 10px;
    width: 10px;
    animation-delay: -5.6s;
    transform: translate3d(12vw, 89vh, 66px);
    background: #2688d9;
}
@keyframes particle-animation-29 {
    100% {
        transform: translate3d(60vw, 43vh, 32px);
   }
}
.particle:nth-child(29) {
    animation: particle-animation-29 50s infinite;
    opacity: 0.06;
    height: 7px;
    width: 7px;
    animation-delay: -5.8s;
    transform: translate3d(70vw, 55vh, 28px);
    background: #d926a3;
}
@keyframes particle-animation-30 {
    100% {
        transform: translate3d(11vw, 58vh, 67px);
   }
}
.particle:nth-child(30) {
    animation: particle-animation-30 50s infinite;
    opacity: 0.72;
    height: 8px;
    width: 8px;
    animation-delay: -6s;
    transform: translate3d(52vw, 80vh, 39px);
    background: #a026d9;
}
